@keyframes fade-in {
  from { transform: scale(.3, .3) }
  to { transform: scale(1, 1) }
}

@keyframes leave {
  from { transform: translateX(0); opacity: 1 }
  to { transform: translateX(-100px); opacity: 0 }
}