.layout-sc {
  input:not([type='checkbox']), textarea {
    border-radius: 5px;
    outline: none;
    padding: .3vw;
    height: 3vh;
    border: none;
    cursor: pointer;
    &[type='text'] {
      border-radius: 5px;
      outline: none;
      height: 3vh;
    }
    &[type='checkbox']>:not(:disabled):active+span::before{
      width: 1.5vw;
      height: 1.5vw;
      background: black;
    }
    &:focus {
      cursor: text;
      //border: 2px solid rgb(238, 238, 238);
      box-shadow: inset 0 0 5px gray;
    }
  }
  button {
    background: rgb(40, 83, 170);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    min-height: 3vh;
    min-width: 7vw;
    color: white;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.84;
    user-select: none;
    &:hover { opacity: 1 }
  }
  .d {
    &-flex { display: flex; }
    &-grid { display: grid; }
  }
  .flex {
    &-column { flex-direction: column; }
    &-row { flex-direction: row; }
  }
  .j-c {
    &-s { justify-content: flex-start; }
    &-c { justify-content: center; }
    &-e { justify-content: flex-end; }
    &-b { justify-content: space-between; }
    &-a { justify-content: space-around; }
  }
  .a-i {
    &-s { align-items: flex-start; }
    &-c { align-items: center; }
    &-e { align-items: flex-end; }
  }
  .w {
    &-25 { width: 25%; }
    &-50 { width: 50%; }
    &-75 { width: 75%; }
    &-100 { width: 100%; }
  }
  .h {
    &-25 { height: 25%; }
    &-50 { height: 50%; }
    &-75 { height: 75%; }
    &-100 { height: 100%; }
  }
}