@import "palette";
@import "constants";

body {
  background: url("/images/background/background1.png");
  height: 100vh;
  margin: 0;
  padding: .5vw;
  box-sizing: border-box;
}
.round {
  border-radius: $border-radius;
}
.w {
  &-25 { width: 25%; }
  &-50 { width: 50%; }
  &-75 { width: 75%; }
  &-100 { width: 100%; }
}
.h {
  &-25 { height: 25%; }
  &-50 { height: 50%; }
  &-75 { height: 75%; }
  &-100 { height: 100%; }
}
.text {
  &-center { text-align: center; }
  &-left { text-align:  left; }
  &-right { text-align: right; }
}
.elevation {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.screen-horizontal {
  .p {
    &xs { font-size: .5vw!important; }
    &sm { font-size: .7vw!important; }
    &md { font-size: .9vw!important; }
    &lg { font-size: 1.1vw!important; }
    &elg { font-size: 1.3vw!important; }
  }
  .h {
    &4 { font-size: .5vw!important; font-weight: 700; }
    &3 { font-size: .7vw!important; font-weight: 700; }
    &2 { font-size: .9vw!important; font-weight: 700; }
    &1 { font-size: 1.1vw!important; font-weight: 700; }
    &0 { font-size: 1.6vw!important; font-weight: 700; }
  }
}

.screen-vertical {
  .p {
    &xs { font-size: 1.5vh!important; }
    &sm { font-size: 1.8vh!important; }
    &md { font-size: 2.1vh!important; }
    &lg { font-size: 2.4vh!important; }
  }
  .h {
    &4 { font-size: 1.5vh!important; font-weight: 700; }
    &3 { font-size: 1.8vh!important; font-weight: 700; }
    &2 { font-size: 2.1vh!important; font-weight: 700; }
    &1 { font-size: 2.4vh!important; font-weight: 700; }
    &0 { font-size: 3vh!important; font-weight: 700; }
  }
}

.layout-sc {
  .uc { text-transform: uppercase!important; }
  .lc { text-transform: lowercase!important; }
  input:not([type='checkbox']), textarea {
    border-radius: 5px;
    outline: none;
    padding: .3vw;
    height: 3vh;
    border: none;
    cursor: pointer;
    &[type='text'] {
      border-radius: 5px;
      outline: none;
      height: 3vh;
    }
    &[type='checkbox']>:not(:disabled):active+span::before{
      width: 1.5vw;
      height: 1.5vw;
      background: black;
    }
    &:focus {
      cursor: text;
      //border: 2px solid rgb(238, 238, 238);
      box-shadow: inset 0 0 5px gray;
    }
  }
  .my-btn {
    @extend .h-100, .pmd, .px-1;
    display: flex;
    background: $purple-blue;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    min-height: 4vh;
    min-width: 7vw;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.84;
    user-select: none;
    &:hover { opacity: 1 }
  }
  .d {
    &-flex { display: flex; }
    &-grid { display: grid; }
  }
  .flex {
    &-column { flex-direction: column; }
    &-row { flex-direction: row; }
  }
  .j-c {
    &-s { justify-content: flex-start; }
    &-c { justify-content: center; }
    &-e { justify-content: flex-end; }
    &-b { justify-content: space-between; }
    &-a { justify-content: space-around; }
  }
  .a-i {
    &-s { align-items: flex-start; }
    &-c { align-items: center; }
    &-e { align-items: flex-end; }
  }
}