$purple-blue: rgb(40, 83, 170);
$green: #28aa57;
$red: #d01010;
$yellow: #e0bd04;

.bg-purple-blue { background: $purple-blue!important; }
.bg-green { background: $green!important; }
.bg-red { background: $red!important; }
.bg-yellow { background: $yellow!important; }

.black { color: rgba(0, 0, 0, .7) }